<section class="section">
    <h2 class="section-header">Collaborations</h2>
    <div class="projects-grid">
        <div class="project-card">
            <h3>Water Justice & Technology</h3>
            <p>a gathering place for research, stories, art, and calls to action that critically confront the ways that
                technology intersects with water.</p>
            <a href="https://waterjustice-tech.org/" target="_blank" class="item-link">→ DISCOVER</a>
        </div>
        <div class="project-card">
            <h3>CIEJ: Center for Interdisciplinary Environmental Justice</h3>
            <p>a collective of scholars, artists, scientists, outdoors practitioners, and parents engaged in feminist
                decolonial science for climate justice.</p>
            <a href="http://www.the-ciej.org/" target="_blank" class="item-link">→ LEARN MORE</a>
        </div>
        <div class="project-card">
            <h3>Finding Ceremony</h3>
            <p>a descendant community-controlled reparationist process, restoring the lineages of care, reverence and
                spiritual memory to the work of caring for our dead and decolonizing museums.</p>
            <a href="https://findingceremony.com/" target="_blank" class="item-link">→ VISIT</a>
        </div>
    </div>
</section>

